.vs/
*.dwcso
*.dwsmeta
Preview/
x64/

################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.suo
/.vs/MyGame/v15
/.vs
/ZekeGame/.vs/ZekeGame/v15/ipch
/ZekeGame/x64/Debug
/ZekeGame/x64/Release
/ZekeGame/.vs/ZekeGame/v15

Lib/
__pycache__/

*.suo

*.vcxproj.user

*.user
*.sln.docstates

*.cmo

bin/
Debug/
Release/
obj/


*_i.c

*_p.c

*.ilk

*.meta

*.obj

*.pch

*.pdb

*.pgc

*.pgd

*.rsp

*.sbr

*.tlb

*.tli

*.tlh

*.tmp

*.tmp_proj

*.log

*.vspscc

*.vssscc
.builds

*.pidb

*.log

*.scc
/ZekeGame/ZekeGame/Engine/PhotonEngine/LoadBalancing-cpp/vc15_debug_windows_md_x64/LoadBala.EA5D8C8B.tlog
/ZekeGame/ZekeGame/Assets/modelData
/ZekeGame/ZekeGame/python36_d.dll
/ZekeGame/ZekeGame/bulletPhysics/src/BulletCollision/x64/RelWithDebInfo/BulletCollision.tlog
/ZekeGame/ZekeGame/bulletPhysics/src/BulletDynamics/x64/RelWithDebInfo/BulletDynamics.tlog

#file of chunk
*.chk

#World info
*.winfo

#file of playerData
*.player
/Game/Save/Time
